In [2]:
import cx_Oracle

In [5]:
try :
    dsn=cx_Oracle.makedsn('localhost',1521,'xe')  # protocol://host ip:port:db
    db=cx_Oracle.connect('scott','oracle')        # session 반환
    print(db)
    print(type(db))
    cursor=db.cursor()
    cursor.execute("""select * from emp""") 
    row=cursor.fetchall() 
    print(row)
    print(type(row))

    colname=cursor.description                    # 조회 결과 메타정보
    print(colname)
    print(type(colname))
    col=[] 
    for i in colname: 
        col.append(i[0])  

except Exception as ex :                         # db 연동 error 처리
     print('db 연동 error', ex)
     db.rollback()                                # db 반영 취소
finally :                                        # db 연동 객체 close - 나중에 만들어진 객체를 먼저 닫는게 일반적
     cursor.close()
     db.close()

<cx_Oracle.Connection to user scott@local>
<class 'cx_Oracle.Connection'>
[(7369, 'SMITH', 'CLERK', 7902, datetime.datetime(1980, 12, 17, 0, 0), 800.0, None, 20), (7499, 'ALLEN', 'SALESMAN', 7698, datetime.datetime(1981, 2, 20, 0, 0), 1600.0, 300.0, 30), (7521, 'WARD', 'SALESMAN', 7698, datetime.datetime(1981, 2, 22, 0, 0), 1250.0, 500.0, 30), (7566, 'JONES', 'MANAGER', 7839, datetime.datetime(1981, 4, 2, 0, 0), 2975.0, None, 20), (7654, 'MARTIN', 'SALESMAN', 7698, datetime.datetime(1981, 9, 28, 0, 0), 1250.0, 1400.0, 30), (7698, 'BLAKE', 'MANAGER', 7839, datetime.datetime(1981, 5, 1, 0, 0), 2850.0, None, 30), (7782, 'CLARK', 'MANAGER', 7839, datetime.datetime(1981, 6, 9, 0, 0), 2450.0, None, 10), (7788, 'SCOTT', 'ANALYST', 7566, datetime.datetime(87, 7, 13, 0, 0), 3000.0, None, 20), (7839, 'KING', 'PRESIDENT', None, datetime.datetime(1981, 11, 17, 0, 0), 5000.0, None, 10), (7844, 'TURNER', 'SALESMAN', 7698, datetime.datetime(1981, 9, 8, 0, 0), 1500.0, 0.0, 30), (7876, 'ADAMS', 'CLERK', 7788, datetime.datetime(87, 7, 13, 0, 0), 1100.0, None, 20), (7900, 'JAMES', 'CLERK', 7698, datetime.datetime(1981, 12, 3, 0, 0), 950.0, None, 30), (7902, 'FORD', 'ANALYST', 7566, datetime.datetime(1981, 12, 3, 0, 0), 3000.0, None, 20), (7934, 'MILLER', 'CLERK', 7782, datetime.datetime(1982, 1, 23, 0, 0), 1300.0, None, 10)]
<class 'list'>
[('EMPNO', <cx_Oracle.DbType DB_TYPE_NUMBER>, 5, None, 4, 0, 0), ('ENAME', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 10, 10, None, None, 1), ('JOB', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 9, 9, None, None, 1), ('MGR', <cx_Oracle.DbType DB_TYPE_NUMBER>, 5, None, 4, 0, 1), ('HIREDATE', <cx_Oracle.DbType DB_TYPE_DATE>, 23, None, None, None, 1), ('SAL', <cx_Oracle.DbType DB_TYPE_NUMBER>, 11, None, 7, 2, 1), ('COMM', <cx_Oracle.DbType DB_TYPE_NUMBER>, 11, None, 7, 2, 1), ('DEPTNO', <cx_Oracle.DbType DB_TYPE_NUMBER>, 3, None, 2, 0, 1)]
<class 'list'>

In [8]:
sql = "insert into dept (deptno, dname, loc) values (:don, :dnm, :dloc)"

try :
    dsn=cx_Oracle.makedsn('localhost',1521,'xe')   
    connection=cx_Oracle.connect('scott','oracle')     
    cursor=connection.cursor()
    cursor.execute(sql, [71, 'ERP', '부산'])
    connection.commit()
except cx_Oracle.Error as error :
    print(error)
finally :
    cursor.close()
    connection.close()

ORA-00001: unique constraint (SCOTT.PK_DEPT) violated