In [45]:
import pandas as pd

In [46]:
df = pd.read_excel('score.xlsx', index_col='지원번호')
print(df)

       이름    학교   총합    키   국어   영어   수학  과학  사회  학년    결과        SW특기
지원번호
1번    강나래   구로고  455  197   90   85  100  95  85   3  Pass      Python
2번    강태원   구로고  205  184   40   35   50  55  25   3  Fail        Java
3번    강호림   구로고  380  168   80   75   70  80  75   2  Pass  Javascript
4번    김수찬   구로고  325  187   40   60   70  75  80   1  Fail         NaN
5번    김재욱   구로고   90  188   15   20   10  35  10   1  Fail         NaN
6번    박동현  디지털고  440  202   80  100   95  85  80   3  Pass           C
7번    박혜정  디지털고  240  188   55   65   45  40  35   2  Fail      PYTHON
8번    승근열  디지털고  465  190  100   85   90  95  95   2  Pass          C#

In [47]:
print(df.groupby('학교').get_group('디지털고'))
print('-'*50)
print(df.groupby('학교').get_group('구로고'))

       이름    학교   총합    키   국어   영어  수학  과학  사회  학년    결과    SW특기
지원번호
6번    박동현  디지털고  440  202   80  100  95  85  80   3  Pass       C
7번    박혜정  디지털고  240  188   55   65  45  40  35   2  Fail  PYTHON
8번    승근열  디지털고  465  190  100   85  90  95  95   2  Pass      C#
--------------------------------------------------
       이름   학교   총합    키  국어  영어   수학  과학  사회  학년    결과        SW특기
지원번호
1번    강나래  구로고  455  197  90  85  100  95  85   3  Pass      Python
2번    강태원  구로고  205  184  40  35   50  55  25   3  Fail        Java
3번    강호림  구로고  380  168  80  75   70  80  75   2  Pass  Javascript
4번    김수찬  구로고  325  187  40  60   70  75  80   1  Fail         NaN
5번    김재욱  구로고   90  188  15  20   10  35  10   1  Fail         NaN

In [48]:
print(df.groupby('학교')['키'].mean())
print(df.groupby('학교').size())

학교
구로고     184.800000
디지털고    193.333333
Name: 키, dtype: float64
학교
구로고     5
디지털고    3
dtype: int64

In [49]:
print(df.groupby('학년').mean())

            총합           키         국어         영어         수학         과학  \
학년
1   207.500000  187.500000  27.500000  40.000000  40.000000  55.000000
2   361.666667  182.000000  78.333333  75.000000  68.333333  71.666667
3   366.666667  194.333333  70.000000  73.333333  81.666667  78.333333

           사회
학년
1   45.000000
2   68.333333
3   63.333333

In [50]:
print(df.groupby('학교').mean().sort_values('학년', ascending=True))

              총합           키         국어         영어         수학         과학  \
학교
구로고   291.000000  184.800000  53.000000  55.000000  60.000000  68.000000
디지털고  381.666667  193.333333  78.333333  83.333333  76.666667  73.333333

        사회        학년
학교
구로고   55.0  2.000000
디지털고  70.0  2.333333

In [51]:
df = pd.read_excel('C:/workspace/dataClass/03_pandasData/pandas_code.xlsx')

print(df.groupby('학교')['이름', 'sw특기'].count())

       이름  sw특기
학교
구로고   350   186
단지고   329   183
디지털고  321   161

C:\Users\parkh\AppData\Local\Temp\ipykernel_15380\3724722509.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  print(df.groupby('학교')['이름', 'sw특기'].count())