In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('연령별인구현황_월간.xlsx', skiprows=3, nrows=3, usecols='b, e:o')   # col 잘라오기
df.index.name = '행정기관'
# df.set_index('행정기관', inplace=True)
print(df)

         행정기관       0~9세     10~19세     20~29세     30~39세     40~49세  \
행정기관
0        전국    1,915,401  2,429,066  3,479,452  3,463,616  4,149,400
1     서울특별시      297,702    387,079    681,848    717,756    732,721
2     부산광역시      112,142    137,031    214,267    207,437    253,324

         50~59세     60~69세     70~79세   80~89세  90~99세 100세 이상
행정기관
0     4,366,032  3,525,502  1,690,255  662,474  59,907   1,423
1       742,529    609,162    317,387  118,253  10,796     398
2       269,954    259,596    135,258   45,753   3,378      67

C:\Python\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [3]:
# 문제 1. 10-19세 컬럼 출력하기
# 부산광역시 row만 출력하기

df = pd.read_excel('연령별인구현황_월간.xlsx', skiprows=3, usecols='b, f')
print(df.iloc[2])

행정기관      부산광역시
10~19세    137,031
Name: 2, dtype: object

C:\Python\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [4]:
df = pd.read_excel('연령별인구현황_월간.xlsx', skiprows=3)
df.index.name = '행정기관'
print(df.columns)

df = pd.read_excel('연령별인구현황_월간.xlsx', skiprows=3, index_col='행정기관')
print(df.columns)    # 이건 왜 인덱스명 안나오냐

Index(['행정기관코드', '행정기관', '남 인구수', '연령구간인구수', '0~9세', '10~19세', '20~29세',
       '30~39세', '40~49세', '50~59세', '60~69세', '70~79세', '80~89세', '90~99세',
       '100세 이상', '여 인구수', '연령구간인구수.1', '0~9세.1', '10~19세.1', '20~29세.1',
       '30~39세.1', '40~49세.1', '50~59세.1', '60~69세.1', '70~79세.1', '80~89세.1',
       '90~99세.1', '100세 이상.1'],
      dtype='object')
Index(['행정기관코드', '남 인구수', '연령구간인구수', '0~9세', '10~19세', '20~29세', '30~39세',
       '40~49세', '50~59세', '60~69세', '70~79세', '80~89세', '90~99세', '100세 이상',
       '여 인구수', '연령구간인구수.1', '0~9세.1', '10~19세.1', '20~29세.1', '30~39세.1',
       '40~49세.1', '50~59세.1', '60~69세.1', '70~79세.1', '80~89세.1', '90~99세.1',
       '100세 이상.1'],
      dtype='object')

C:\Python\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Python\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [5]:
df = pd.read_excel('C:/workspace/dataClass/03_pandasData/pd0222/score.xlsx', index_col='지원번호')
print(df)
print(df['이름'])
print(df[df.columns[0]])
print(df.loc['1번'])  # 인덱스의 이름!으로 가져오기
print(df.iloc[0])     # 인덱스의 번호로 가져오기

       이름    학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    강나래   구로고  197   90   85  100  95  85      Python
2번    강태원   구로고  184   40   35   50  55  25        Java
3번    강호림   구로고  168   80   75   70  80  75  Javascript
4번    김수찬   구로고  187   40   60   70  75  80         NaN
5번    김재욱   구로고  188   15   20   10  35  10         NaN
6번    박동현  디지털고  202   80  100   95  85  80           C
7번    박혜정  디지털고  188   55   65   45  40  35      PYTHON
8번    승근열  디지털고  190  100   85   90  95  95          C#
지원번호
1번    강나래
2번    강태원
3번    강호림
4번    김수찬
5번    김재욱
6번    박동현
7번    박혜정
8번    승근열
Name: 이름, dtype: object
지원번호
1번    강나래
2번    강태원
3번    강호림
4번    김수찬
5번    김재욱
6번    박동현
7번    박혜정
8번    승근열
Name: 이름, dtype: object
이름         강나래
학교         구로고
키          197
국어          90
영어          85
수학         100
과학          95
사회          85
SW특기    Python
Name: 1번, dtype: object
이름         강나래
학교         구로고
키          197
국어          90
영어          85
수학         100
과학          95
사회          85
SW특기    Python
Name: 1번, dtype: object

In [12]:
print(df.loc['1번', ['이름', '키']])
print('-'*20)
print(df.iloc[[3, 5], 2])
print('-'*20)
print(df.iloc[0:5, 3:6])    # df.iloc[x1:x2, y1:y2]  x에서의 범위, y에서의 범위 오오

이름    강나래
키     197
Name: 1번, dtype: object
--------------------
지원번호
4번    187
6번    202
Name: 키, dtype: int64
--------------------
      국어  영어   수학
지원번호
1번    90  85  100
2번    40  35   50
3번    80  75   70
4번    40  60   70
5번    15  20   10

In [40]:
df = pd.read_excel('stat_142801.xls', skiprows=2, nrows=2)
df.index.name = '목록'
print(df)          # 전체 출력물
print('-'*50)
print(df.loc[0])   # 출생아 수만 뽑자

   Unnamed: 0     2012     2013     2014     2015     2016     2017     2018  \
목록
0       출생아 수  484.600  436.500  435.400  438.400  406.200  357.800  326.800
1      합계 출산율    1.297    1.187    1.205    1.239    1.172    1.052    0.977

       2019    2020
목록
0   302.700  272.30
1     0.918    0.84
--------------------------------------------------
Unnamed: 0    출생아 수
2012          484.6
2013          436.5
2014          435.4
2015          438.4
2016          406.2
2017          357.8
2018          326.8
2019          302.7
2020          272.3
Name: 0, dtype: object