In [98]:
import pandas as pd

In [99]:
raw = pd.read_excel('score.xlsx', index_col='지원번호')
print(raw)

       이름    학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    강나래   구로고  197   90   85  100  95  85      Python
2번    강태원   구로고  184   40   35   50  55  25        Java
3번    강호림   구로고  168   80   75   70  80  75  Javascript
4번    김수찬   구로고  187   40   60   70  75  80         NaN
5번    김재욱   구로고  188   15   20   10  35  10         NaN
6번    박동현  디지털고  202   80  100   95  85  80           C
7번    박혜정  디지털고  188   55   65   45  40  35      PYTHON
8번    승근열  디지털고  190  100   85   90  95  95          C#

In [100]:
raw = pd.read_excel('pandas_code.xlsx')
eng = raw['영어']>=70
math = raw['수학']>=80
print(raw[eng & math][['이름', '학교', '영어', '수학']])

                    이름    학교   영어  수학
2    Townsend Burnsell  디지털고   84  93
6        Shanon Arnley   구로고   96  96
10   Kristien Sillitoe   구로고  100  91
17       Farris Jiggen  디지털고   94  80
19    Englebert Cassel   단지고   93  99
..                 ...   ...  ...  ..
984  Chantalle Baukham   구로고   75  82
988   Fulvia Feldstein   단지고   80  95
989         Joela Pues   구로고   70  90
992      Dirk Giannoni   단지고   96  97
999      Samaria Shann  디지털고   76  85

[147 rows x 4 columns]

In [101]:
step2 = raw[eng & math][['이름', '학교', '영어', '수학']]
print(step2['이름'].str.lower())

2      townsend burnsell
6          shanon arnley
10     kristien sillitoe
17         farris jiggen
19      englebert cassel
             ...
984    chantalle baukham
988     fulvia feldstein
989           joela pues
992        dirk giannoni
999        samaria shann
Name: 이름, Length: 147, dtype: object

In [102]:
swph = raw['sw특기'].str.contains('PYTHON', na=False)
toname = raw['이름'].str.contains('to', case=False)      # 대소문자 구분 없이하기
highS = raw['학교']=='단지고'
print(  raw[swph&toname&highS]  )

                    이름   학교  영어  수학  과학  사회    sw특기
20   Josias Pendlenton  단지고  62  58  49  48  PYTHON
601    Noland Yorkston  단지고  62  51  55  60  PYTHON
716      Barclay Coton  단지고  53  69  41  27  PYTHON
792      Shelton Russe  단지고  60  99  45  34  PYTHON
937    Toby Fahrenbach  단지고  20  84  53  20  PYTHON
967        Brad Pistol  단지고  67  46  58  27  PYTHON

In [109]:
raw = pd.read_excel('pandas_code.xlsx')
eng = raw['영어']>=60
print(raw[eng]['영어'].count())

520