In [3]:
import pandas as pd

In [4]:
df = pd.read_excel('score.xlsx', index_col='지원번호')
print(df)

       이름    학교   총합    키   국어   영어   수학  과학  사회  학년    결과        SW특기
지원번호
1번    강나래   구로고  455  197   90   85  100  95  85   3  Pass      Python
2번    강태원   구로고  205  184   40   35   50  55  25   3  Fail        Java
3번    강호림   구로고  380  168   80   75   70  80  75   2  Pass  Javascript
4번    김수찬   구로고  325  187   40   60   70  75  80   1  Fail         NaN
5번    김재욱   구로고   90  188   15   20   10  35  10   1  Fail         NaN
6번    박동현  디지털고  440  202   80  100   95  85  80   3  Pass           C
7번    박혜정  디지털고  240  188   55   65   45  40  35   2  Fail      PYTHON
8번    승근열  디지털고  465  190  100   85   90  95  95   2  Pass          C#

In [5]:
# 컬럼명 일부 바꾸기
# df.rename(columns={'이름':'Name', '학교':'School'}, inplace=True)
# print(df)

# 컬럼명 전체 바꾸기
# df.columns = ['바꿀이름', '바꿀머시기', ... , '마지막컬럼명']   # 순서 맞춰서 먹이면 됨

In [6]:
df['학교'] = df['학교'] + '등학교'
print(df)

       이름       학교   총합    키   국어   영어   수학  과학  사회  학년    결과        SW특기
지원번호
1번    강나래   구로고등학교  455  197   90   85  100  95  85   3  Pass      Python
2번    강태원   구로고등학교  205  184   40   35   50  55  25   3  Fail        Java
3번    강호림   구로고등학교  380  168   80   75   70  80  75   2  Pass  Javascript
4번    김수찬   구로고등학교  325  187   40   60   70  75  80   1  Fail         NaN
5번    김재욱   구로고등학교   90  188   15   20   10  35  10   1  Fail         NaN
6번    박동현  디지털고등학교  440  202   80  100   95  85  80   3  Pass           C
7번    박혜정  디지털고등학교  240  188   55   65   45  40  35   2  Fail      PYTHON
8번    승근열  디지털고등학교  465  190  100   85   90  95  95   2  Pass          C#

In [7]:
df['음악'] = 100
df['총합'] = df['총합'] + df['음악']
print(df)

       이름       학교   총합    키   국어   영어   수학  과학  사회  학년    결과        SW특기   음악
지원번호
1번    강나래   구로고등학교  555  197   90   85  100  95  85   3  Pass      Python  100
2번    강태원   구로고등학교  305  184   40   35   50  55  25   3  Fail        Java  100
3번    강호림   구로고등학교  480  168   80   75   70  80  75   2  Pass  Javascript  100
4번    김수찬   구로고등학교  425  187   40   60   70  75  80   1  Fail         NaN  100
5번    김재욱   구로고등학교  190  188   15   20   10  35  10   1  Fail         NaN  100
6번    박동현  디지털고등학교  540  202   80  100   95  85  80   3  Pass           C  100
7번    박혜정  디지털고등학교  340  188   55   65   45  40  35   2  Fail      PYTHON  100
8번    승근열  디지털고등학교  565  190  100   85   90  95  95   2  Pass          C#  100

In [8]:
df['키'] = df['키'].astype(str) + 'cm'
print(df)

       이름       학교   총합      키   국어   영어   수학  과학  사회  학년    결과        SW특기  \
지원번호
1번    강나래   구로고등학교  555  197cm   90   85  100  95  85   3  Pass      Python
2번    강태원   구로고등학교  305  184cm   40   35   50  55  25   3  Fail        Java
3번    강호림   구로고등학교  480  168cm   80   75   70  80  75   2  Pass  Javascript
4번    김수찬   구로고등학교  425  187cm   40   60   70  75  80   1  Fail         NaN
5번    김재욱   구로고등학교  190  188cm   15   20   10  35  10   1  Fail         NaN
6번    박동현  디지털고등학교  540  202cm   80  100   95  85  80   3  Pass           C
7번    박혜정  디지털고등학교  340  188cm   55   65   45  40  35   2  Fail      PYTHON
8번    승근열  디지털고등학교  565  190cm  100   85   90  95  95   2  Pass          C#

       음악
지원번호
1번    100
2번    100
3번    100
4번    100
5번    100
6번    100
7번    100
8번    100

In [9]:
df = pd.read_excel('score.xlsx', index_col='지원번호')

def add_cm(height):
    return str(height)+'cm'

df['키'] = df['키'].apply(add_cm)
print(df)

       이름    학교   총합      키   국어   영어   수학  과학  사회  학년    결과        SW특기
지원번호
1번    강나래   구로고  455  197cm   90   85  100  95  85   3  Pass      Python
2번    강태원   구로고  205  184cm   40   35   50  55  25   3  Fail        Java
3번    강호림   구로고  380  168cm   80   75   70  80  75   2  Pass  Javascript
4번    김수찬   구로고  325  187cm   40   60   70  75  80   1  Fail         NaN
5번    김재욱   구로고   90  188cm   15   20   10  35  10   1  Fail         NaN
6번    박동현  디지털고  440  202cm   80  100   95  85  80   3  Pass           C
7번    박혜정  디지털고  240  188cm   55   65   45  40  35   2  Fail      PYTHON
8번    승근열  디지털고  465  190cm  100   85   90  95  95   2  Pass          C#