In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('score.xlsx', index_col='지원번호')
print(df)

       이름    학교   총합    키   국어   영어   수학  과학  사회  학년    결과        SW특기
지원번호
1번    강나래   구로고  455  197   90   85  100  95  85   3  Pass      Python
2번    강태원   구로고  205  184   40   35   50  55  25   3  Fail        Java
3번    강호림   구로고  380  168   80   75   70  80  75   2  Pass  Javascript
4번    김수찬   구로고  325  187   40   60   70  75  80   1  Fail         NaN
5번    김재욱   구로고   90  188   15   20   10  35  10   1  Fail         NaN
6번    박동현  디지털고  440  202   80  100   95  85  80   3  Pass           C
7번    박혜정  디지털고  240  188   55   65   45  40  35   2  Fail      PYTHON
8번    승근열  디지털고  465  190  100   85   90  95  95   2  Pass          C#

In [4]:
df.loc['4번', ['학교', 'SW특기']] = ['단지고', 'python']
print(df)

       이름    학교   총합    키   국어   영어   수학  과학  사회  학년    결과        SW특기
지원번호
1번    강나래   구로고  455  197   90   85  100  95  85   3  Pass      Python
2번    강태원   구로고  205  184   40   35   50  55  25   3  Fail        Java
3번    강호림   구로고  380  168   80   75   70  80  75   2  Pass  Javascript
4번    김수찬   단지고  325  187   40   60   70  75  80   1  Fail      python
5번    김재욱   구로고   90  188   15   20   10  35  10   1  Fail         NaN
6번    박동현  디지털고  440  202   80  100   95  85  80   3  Pass           C
7번    박혜정  디지털고  240  188   55   65   45  40  35   2  Fail      PYTHON
8번    승근열  디지털고  465  190  100   85   90  95  95   2  Pass          C#

In [5]:
def txtchange(lang):
    return lang.capitalize()

In [6]:
data = {
'영화' : ['명량', '극한직업', '신과함께-죄와 벌', '국제시장', '괴물', '도둑들', '7번방의 선물', '암살'],
'개봉 연도' : [2014, 2019, 2017, 2014, 2006, 2012, 2013, 2015],
'관객 수' : [1761, 1626, 1441, 1426, 1301, 1298, 1281, 1270], # (단위 : 만 명)
'평점' : [8.88, 9.20, 8.73, 9.16, 8.62, 7.64, 8.83, 9.10]
}

df = pd.DataFrame(data)
print(df.sort_values('개봉 연도', ascending=False))
print('-'*50)
jumsu = df['평점']>=9.0
print(df[jumsu])
print('-'*50)
avgover = df['평점']>=df['평점'].mean()
print(df[avgover])
print('-'*50)
df['평점'] = df['평점'].astype(str) + '점'
print(df)

          영화  개봉 연도  관객 수    평점
1       극한직업   2019  1626  9.20
2  신과함께-죄와 벌   2017  1441  8.73
7         암살   2015  1270  9.10
0         명량   2014  1761  8.88
3       국제시장   2014  1426  9.16
6    7번방의 선물   2013  1281  8.83
5        도둑들   2012  1298  7.64
4         괴물   2006  1301  8.62
--------------------------------------------------
     영화  개봉 연도  관객 수    평점
1  극한직업   2019  1626  9.20
3  국제시장   2014  1426  9.16
7    암살   2015  1270  9.10
--------------------------------------------------
        영화  개봉 연도  관객 수    평점
0       명량   2014  1761  8.88
1     극한직업   2019  1626  9.20
3     국제시장   2014  1426  9.16
6  7번방의 선물   2013  1281  8.83
7       암살   2015  1270  9.10
--------------------------------------------------
          영화  개봉 연도  관객 수     평점
0         명량   2014  1761  8.88점
1       극한직업   2019  1626   9.2점
2  신과함께-죄와 벌   2017  1441  8.73점
3       국제시장   2014  1426  9.16점
4         괴물   2006  1301  8.62점
5        도둑들   2012  1298  7.64점
6    7번방의 선물   2013  1281  8.83점
7         암살   2015  1270   9.1점

In [7]:
df = pd.DataFrame(data)

viewer = df['관객 수'] > 1400
years = df['개봉 연도'] > 2015
print(df[viewer&years])

          영화  개봉 연도  관객 수    평점
1       극한직업   2019  1626  9.20
2  신과함께-죄와 벌   2017  1441  8.73

In [8]:
df['추천 점수'] = (df['관객 수']*df['평점']) // 100

In [9]:
print(df)

          영화  개봉 연도  관객 수    평점  추천 점수
0         명량   2014  1761  8.88  156.0
1       극한직업   2019  1626  9.20  149.0
2  신과함께-죄와 벌   2017  1441  8.73  125.0
3       국제시장   2014  1426  9.16  130.0
4         괴물   2006  1301  8.62  112.0
5        도둑들   2012  1298  7.64   99.0
6    7번방의 선물   2013  1281  8.83  113.0
7         암살   2015  1270  9.10  115.0

In [11]:
df = df[['영화', '추천 점수', '개봉 연도', '관객 수', '평점']]
print(df)

          영화  추천 점수  개봉 연도  관객 수    평점
0         명량  156.0   2014  1761  8.88
1       극한직업  149.0   2019  1626  9.20
2  신과함께-죄와 벌  125.0   2017  1441  8.73
3       국제시장  130.0   2014  1426  9.16
4         괴물  112.0   2006  1301  8.62
5        도둑들   99.0   2012  1298  7.64
6    7번방의 선물  113.0   2013  1281  8.83
7         암살  115.0   2015  1270  9.10