In [1]:
import pandas as pd

In [6]:
df = pd.read_excel('pandas_code.xlsx')
print(df)

                    이름    학교  영어  수학  과학  사회        sw특기
0      Chucho Fibbings   구로고  54  61  78  34  Javascript
1       Ignacio Piwell  디지털고  73  78  43  29           C
2    Townsend Burnsell  디지털고  84  93  83  15      PYTHON
3         Ivie Camings  디지털고  43  84  60  44         NaN
4     Conrade Spedroni   구로고  62  97  59  88  Javascript
..                 ...   ...  ..  ..  ..  ..         ...
995     Starlene Kegan  디지털고  66  77  60  90           C
996       Griff Linner   구로고  73  79  69  93           C
997     Rickey Lenihan   구로고  36  91  66  14      PYTHON
998    Fields Mortimer  디지털고  56  68  85  42         NaN
999      Samaria Shann  디지털고  76  85  91  83        Java

[1000 rows x 7 columns]

In [7]:
df = pd.read_excel('pandas_code.xlsx', skiprows=[1,2,3], nrows=10)
print(df)

                    이름    학교   영어  수학  과학  사회        sw특기
0         Ivie Camings  디지털고   43  84  60  44         NaN
1     Conrade Spedroni   구로고   62  97  59  88  Javascript
2          Nico Sterte   구로고   51  62  88  14      PYTHON
3        Shanon Arnley   구로고   96  96  86  45         NaN
4            Hamel Byk  디지털고   65  69  73  58         NaN
5  Worthington Gaunson   단지고   77  50  82  43         NaN
6   Ruperta Ghilardini   구로고   87  75  80  58         NaN
7    Kristien Sillitoe   구로고  100  91  41  64      Python
8      Sheffie Marritt   구로고   23  76  63  16  Javascript
9    Eberhard Mussalli   단지고   31  63  53  70         NaN

In [11]:
df = pd.read_excel('pandas_code.xlsx', skiprows=1, nrows=10)
print(df)

       Chucho Fibbings   구로고   54  61  78  34  Javascript
0       Ignacio Piwell  디지털고   73  78  43  29           C
1    Townsend Burnsell  디지털고   84  93  83  15      PYTHON
2         Ivie Camings  디지털고   43  84  60  44         NaN
3     Conrade Spedroni   구로고   62  97  59  88  Javascript
4          Nico Sterte   구로고   51  62  88  14      PYTHON
5        Shanon Arnley   구로고   96  96  86  45         NaN
6            Hamel Byk  디지털고   65  69  73  58         NaN
7  Worthington Gaunson   단지고   77  50  82  43         NaN
8   Ruperta Ghilardini   구로고   87  75  80  58         NaN
9    Kristien Sillitoe   구로고  100  91  41  64      Python

In [12]:
df = pd.read_excel('pandas_code.xlsx', skiprows=[1], nrows=10)
print(df)

                    이름    학교   영어  수학  과학  사회        sw특기
0       Ignacio Piwell  디지털고   73  78  43  29           C
1    Townsend Burnsell  디지털고   84  93  83  15      PYTHON
2         Ivie Camings  디지털고   43  84  60  44         NaN
3     Conrade Spedroni   구로고   62  97  59  88  Javascript
4          Nico Sterte   구로고   51  62  88  14      PYTHON
5        Shanon Arnley   구로고   96  96  86  45         NaN
6            Hamel Byk  디지털고   65  69  73  58         NaN
7  Worthington Gaunson   단지고   77  50  82  43         NaN
8   Ruperta Ghilardini   구로고   87  75  80  58         NaN
9    Kristien Sillitoe   구로고  100  91  41  64      Python

In [20]:
df = pd.read_excel('pandas_code.xlsx', skiprows=[i for i in range(1, 500)], nrows=10)
print(df)

                  이름    학교   영어  수학  과학  사회        sw특기
0       Krissie Sand   구로고   91  67  95  89         NaN
1         Faun Geere  디지털고   20  54  43  82         NaN
2  Joycelin Clipston   단지고   59  79  92  14  Javascript
3     Mignon Jedrych   단지고   69  47  95  59         NaN
4     Godart Bessant  디지털고   35  60  95  27      Python
5      Hort Chinnery   구로고  100  73  49  71         NaN
6     Paolo Bendixen   구로고   23  78  88  16         NaN
7     Brucie Maidens  디지털고   58  45  57  29          C#
8   Clive Yellowlees  디지털고   77  86  72  28          C#
9    Viviyan Swindin   단지고   88  51  86  86      PYTHON