In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('score.csv')
df.index.name='지원번호'
print(df)

     Unnamed: 0   이름    학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
0            1번  강나래   구로고  197   90   85  100  95  85      Python
1            2번  강태원   구로고  184   40   35   50  55  25        Java
2            3번  강호림   구로고  168   80   75   70  80  75  Javascript
3            4번  김수찬   구로고  187   40   60   70  75  80         NaN
4            5번  김재욱   구로고  188   15   20   10  35  10         NaN
5            6번  박동현  디지털고  202   80  100   95  85  80           C
6            7번  박혜정  디지털고  188   55   65   45  40  35      PYTHON
7            8번  승근열  디지털고  190  100   85   90  95  95          C#

In [4]:
df = pd.read_csv('score.csv', skiprows=[1,3,5])
print(df)
df = pd.read_csv('score.csv', skiprows=1)
print(df)
df = pd.read_csv('score.csv', skiprows=[2,4,6])
print(df)
df = pd.read_csv('score.csv', skiprows=[2,4,6], nrows=3)   # 스킵로우명령 외에 출력row 여러개 중에 3줄만! 나올래
print(df)

  Unnamed: 0   이름    학교    키   국어   영어  수학  과학  사회    SW특기
0         2번  강태원   구로고  184   40   35  50  55  25    Java
1         4번  김수찬   구로고  187   40   60  70  75  80     NaN
2         6번  박동현  디지털고  202   80  100  95  85  80       C
3         7번  박혜정  디지털고  188   55   65  45  40  35  PYTHON
4         8번  승근열  디지털고  190  100   85  90  95  95      C#
   1번  강나래   구로고  197   90   85  100  95  85.1      Python
0  2번  강태원   구로고  184   40   35   50  55    25        Java
1  3번  강호림   구로고  168   80   75   70  80    75  Javascript
2  4번  김수찬   구로고  187   40   60   70  75    80         NaN
3  5번  김재욱   구로고  188   15   20   10  35    10         NaN
4  6번  박동현  디지털고  202   80  100   95  85    80           C
5  7번  박혜정  디지털고  188   55   65   45  40    35      PYTHON
6  8번  승근열  디지털고  190  100   85   90  95    95          C#
  Unnamed: 0   이름    학교    키   국어  영어   수학  과학  사회        SW특기
0         1번  강나래   구로고  197   90  85  100  95  85      Python
1         3번  강호림   구로고  168   80  75   70  80  75  Javascript
2         5번  김재욱   구로고  188   15  20   10  35  10         NaN
3         7번  박혜정  디지털고  188   55  65   45  40  35      PYTHON
4         8번  승근열  디지털고  190  100  85   90  95  95          C#
  Unnamed: 0   이름   학교    키  국어  영어   수학  과학  사회        SW특기
0         1번  강나래  구로고  197  90  85  100  95  85      Python
1         3번  강호림  구로고  168  80  75   70  80  75  Javascript
2         5번  김재욱  구로고  188  15  20   10  35  10         NaN

In [7]:
df = pd.read_csv('score.txt', '\t')
print(df)

  Unnamed: 0   이름    학교    키   국어   영어   수학  과학  사회        SW특기
0         1번  강나래   구로고  197   90   85  100  95  85      Python
1         2번  강태원   구로고  184   40   35   50  55  25        Java
2         3번  강호림   구로고  168   80   75   70  80  75  Javascript
3         4번  김수찬   구로고  187   40   60   70  75  80         NaN
4         5번  김재욱   구로고  188   15   20   10  35  10         NaN
5         6번  박동현  디지털고  202   80  100   95  85  80           C
6         7번  박혜정  디지털고  188   55   65   45  40  35      PYTHON
7         8번  승근열  디지털고  190  100   85   90  95  95          C#

C:\Python\lib\site-packages\IPython\core\interactiveshell.py:3251: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [19]:
df = pd.read_excel('score.xlsx')
df.set_index('지원번호', inplace=True)
print(df)

       이름    학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    강나래   구로고  197   90   85  100  95  85      Python
2번    강태원   구로고  184   40   35   50  55  25        Java
3번    강호림   구로고  168   80   75   70  80  75  Javascript
4번    김수찬   구로고  187   40   60   70  75  80         NaN
5번    김재욱   구로고  188   15   20   10  35  10         NaN
6번    박동현  디지털고  202   80  100   95  85  80           C
7번    박혜정  디지털고  188   55   65   45  40  35      PYTHON
8번    승근열  디지털고  190  100   85   90  95  95          C#

In [18]:
df = pd.read_excel('score.xlsx', index_col='지원번호')
print(df)    # 이거랑 위에랑 같은 거임 ㅎ

       이름    학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    강나래   구로고  197   90   85  100  95  85      Python
2번    강태원   구로고  184   40   35   50  55  25        Java
3번    강호림   구로고  168   80   75   70  80  75  Javascript
4번    김수찬   구로고  187   40   60   70  75  80         NaN
5번    김재욱   구로고  188   15   20   10  35  10         NaN
6번    박동현  디지털고  202   80  100   95  85  80           C
7번    박혜정  디지털고  188   55   65   45  40  35      PYTHON
8번    승근열  디지털고  190  100   85   90  95  95          C#