In [33]:
import pandas as pd

In [34]:
df = pd.read_excel('연령별인구현황_월간.xlsx', skiprows=3, index_col='행정기관', usecols='b, e:o')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 18 entries, 전국   to 제주특별자치도
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   0~9세     18 non-null     object
 1   10~19세   18 non-null     object
 2   20~29세   18 non-null     object
 3   30~39세   18 non-null     object
 4   40~49세   18 non-null     object
 5   50~59세   18 non-null     object
 6   60~69세   18 non-null     object
 7   70~79세   18 non-null     object
 8   80~89세   18 non-null     object
 9   90~99세   18 non-null     object
 10  100세 이상  18 non-null     object
dtypes: object(11)
memory usage: 1.7+ KB
None

C:\Python\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [35]:
print(df.columns)

Index(['0~9세', '10~19세', '20~29세', '30~39세', '40~49세', '50~59세', '60~69세',
       '70~79세', '80~89세', '90~99세', '100세 이상'],
      dtype='object')

In [36]:
print(df['0~9세'])

행정기관
전국           1,915,401
서울특별시          297,702
부산광역시          112,142
대구광역시           85,524
인천광역시          110,927
광주광역시           58,089
대전광역시           55,008
울산광역시           46,932
세종특별자치시         24,030
경기도            559,696
강원도             51,333
충청북도            59,265
충청남도            82,575
전라북도            60,877
전라남도            62,648
경상북도            91,173
경상남도           127,842
제주특별자치도         29,638
Name: 0~9세, dtype: object

In [37]:
print(df.iloc[0])
print('-'*50)
intAllKor = df.iloc[0].str.replace(',','').astype(int)
print(intAllKor)

0~9세       1,915,401
10~19세     2,429,066
20~29세     3,479,452
30~39세     3,463,616
40~49세     4,149,400
50~59세     4,366,032
60~69세     3,525,502
70~79세     1,690,255
80~89세       662,474
90~99세        59,907
100세 이상        1,423
Name: 전국  , dtype: object
--------------------------------------------------
0~9세       1915401
10~19세     2429066
20~29세     3479452
30~39세     3463616
40~49세     4149400
50~59세     4366032
60~69세     3525502
70~79세     1690255
80~89세      662474
90~99세       59907
100세 이상       1423
Name: 전국  , dtype: int32

In [51]:
print(df['0~9세'])
print('-'*50)
newdf = df['0~9세'].str.replace(',','').astype(int)
print(newdf)

행정기관
전국           1,915,401
서울특별시          297,702
부산광역시          112,142
대구광역시           85,524
인천광역시          110,927
광주광역시           58,089
대전광역시           55,008
울산광역시           46,932
세종특별자치시         24,030
경기도            559,696
강원도             51,333
충청북도            59,265
충청남도            82,575
전라북도            60,877
전라남도            62,648
경상북도            91,173
경상남도           127,842
제주특별자치도         29,638
Name: 0~9세, dtype: object
--------------------------------------------------
행정기관
전국           1915401
서울특별시         297702
부산광역시         112142
대구광역시          85524
인천광역시         110927
광주광역시          58089
대전광역시          55008
울산광역시          46932
세종특별자치시        24030
경기도           559696
강원도            51333
충청북도           59265
충청남도           82575
전라북도           60877
전라남도           62648
경상북도           91173
경상남도          127842
제주특별자치도        29638
Name: 0~9세, dtype: int32

In [52]:
print('0~9세 중 10만 이상 자치구')
print(newdf[newdf>=100000])

0~9세 중 10만 이상 자치구
행정기관
전국         1915401
서울특별시       297702
부산광역시       112142
인천광역시       110927
경기도         559696
경상남도        127842
Name: 0~9세, dtype: int32