In [23]:
import pandas as pd

In [24]:
df = pd.read_excel('C:/workspace/dataClass/03_pandasData/score.xlsx', index_col='지원번호')
print(df)

       이름    학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    강나래   구로고  197   90   85  100  95  85      Python
2번    강태원   구로고  184   40   35   50  55  25        Java
3번    강호림   구로고  168   80   75   70  80  75  Javascript
4번    김수찬   구로고  187   40   60   70  75  80         NaN
5번    김재욱   구로고  188   15   20   10  35  10         NaN
6번    박동현  디지털고  202   80  100   95  85  80           C
7번    박혜정  디지털고  188   55   65   45  40  35      PYTHON
8번    승근열  디지털고  190  100   85   90  95  95          C#

In [25]:
df['총합'] = df['국어']+df['영어']+df['수학']+df['과학']+df['사회']
df['학년'] = [3,3,2,1,1,3,2,2]
df['결과'] = 'Fail'
print(df)

       이름    학교    키   국어   영어   수학  과학  사회        SW특기   총합  학년    결과
지원번호
1번    강나래   구로고  197   90   85  100  95  85      Python  455   3  Fail
2번    강태원   구로고  184   40   35   50  55  25        Java  205   3  Fail
3번    강호림   구로고  168   80   75   70  80  75  Javascript  380   2  Fail
4번    김수찬   구로고  187   40   60   70  75  80         NaN  325   1  Fail
5번    김재욱   구로고  188   15   20   10  35  10         NaN   90   1  Fail
6번    박동현  디지털고  202   80  100   95  85  80           C  440   3  Fail
7번    박혜정  디지털고  188   55   65   45  40  35      PYTHON  240   2  Fail
8번    승근열  디지털고  190  100   85   90  95  95          C#  465   2  Fail

In [26]:
df.loc[df['총합']>350, '결과'] = 'Pass'
print(df)
df.loc['4번', '학교'] = '디지털고'
print(df)

       이름    학교    키   국어   영어   수학  과학  사회        SW특기   총합  학년    결과
지원번호
1번    강나래   구로고  197   90   85  100  95  85      Python  455   3  Pass
2번    강태원   구로고  184   40   35   50  55  25        Java  205   3  Fail
3번    강호림   구로고  168   80   75   70  80  75  Javascript  380   2  Pass
4번    김수찬   구로고  187   40   60   70  75  80         NaN  325   1  Fail
5번    김재욱   구로고  188   15   20   10  35  10         NaN   90   1  Fail
6번    박동현  디지털고  202   80  100   95  85  80           C  440   3  Pass
7번    박혜정  디지털고  188   55   65   45  40  35      PYTHON  240   2  Fail
8번    승근열  디지털고  190  100   85   90  95  95          C#  465   2  Pass
       이름    학교    키   국어   영어   수학  과학  사회        SW특기   총합  학년    결과
지원번호
1번    강나래   구로고  197   90   85  100  95  85      Python  455   3  Pass
2번    강태원   구로고  184   40   35   50  55  25        Java  205   3  Fail
3번    강호림   구로고  168   80   75   70  80  75  Javascript  380   2  Pass
4번    김수찬  디지털고  187   40   60   70  75  80         NaN  325   1  Fail
5번    김재욱   구로고  188   15   20   10  35  10         NaN   90   1  Fail
6번    박동현  디지털고  202   80  100   95  85  80           C  440   3  Pass
7번    박혜정  디지털고  188   55   65   45  40  35      PYTHON  240   2  Fail
8번    승근열  디지털고  190  100   85   90  95  95          C#  465   2  Pass

In [27]:
# drop() 속에 columns=['컬럼명'] 컬럼삭제, index=['인덱스명'] 로우삭제
df.drop(columns=['결과'], inplace=True)
print(df)

df.drop(columns=['과학', '사회'], inplace=True)
print(df)

       이름    학교    키   국어   영어   수학  과학  사회        SW특기   총합  학년
지원번호
1번    강나래   구로고  197   90   85  100  95  85      Python  455   3
2번    강태원   구로고  184   40   35   50  55  25        Java  205   3
3번    강호림   구로고  168   80   75   70  80  75  Javascript  380   2
4번    김수찬  디지털고  187   40   60   70  75  80         NaN  325   1
5번    김재욱   구로고  188   15   20   10  35  10         NaN   90   1
6번    박동현  디지털고  202   80  100   95  85  80           C  440   3
7번    박혜정  디지털고  188   55   65   45  40  35      PYTHON  240   2
8번    승근열  디지털고  190  100   85   90  95  95          C#  465   2
       이름    학교    키   국어   영어   수학        SW특기   총합  학년
지원번호
1번    강나래   구로고  197   90   85  100      Python  455   3
2번    강태원   구로고  184   40   35   50        Java  205   3
3번    강호림   구로고  168   80   75   70  Javascript  380   2
4번    김수찬  디지털고  187   40   60   70         NaN  325   1
5번    김재욱   구로고  188   15   20   10         NaN   90   1
6번    박동현  디지털고  202   80  100   95           C  440   3
7번    박혜정  디지털고  188   55   65   45      PYTHON  240   2
8번    승근열  디지털고  190  100   85   90          C#  465   2

In [28]:
df = pd.read_excel('C:/workspace/dataClass/03_pandasData/score.xlsx', index_col='지원번호')

df['총합'] = df['국어']+df['영어']+df['수학']+df['과학']+df['사회']
df['학년'] = [3,3,2,1,1,3,2,2]
df['결과'] = 'Fail'
df.loc[df['총합']>350, '결과'] = 'Pass'
print(df)

df.to_excel('score.xlsx')

       이름    학교    키   국어   영어   수학  과학  사회        SW특기   총합  학년    결과
지원번호
1번    강나래   구로고  197   90   85  100  95  85      Python  455   3  Pass
2번    강태원   구로고  184   40   35   50  55  25        Java  205   3  Fail
3번    강호림   구로고  168   80   75   70  80  75  Javascript  380   2  Pass
4번    김수찬   구로고  187   40   60   70  75  80         NaN  325   1  Fail
5번    김재욱   구로고  188   15   20   10  35  10         NaN   90   1  Fail
6번    박동현  디지털고  202   80  100   95  85  80           C  440   3  Pass
7번    박혜정  디지털고  188   55   65   45  40  35      PYTHON  240   2  Fail
8번    승근열  디지털고  190  100   85   90  95  95          C#  465   2  Pass

### 07

In [29]:
df = pd.read_excel('score.xlsx', index_col='지원번호')
print(df)

       이름    학교    키   국어   영어   수학  과학  사회        SW특기   총합  학년    결과
지원번호
1번    강나래   구로고  197   90   85  100  95  85      Python  455   3  Pass
2번    강태원   구로고  184   40   35   50  55  25        Java  205   3  Fail
3번    강호림   구로고  168   80   75   70  80  75  Javascript  380   2  Pass
4번    김수찬   구로고  187   40   60   70  75  80         NaN  325   1  Fail
5번    김재욱   구로고  188   15   20   10  35  10         NaN   90   1  Fail
6번    박동현  디지털고  202   80  100   95  85  80           C  440   3  Pass
7번    박혜정  디지털고  188   55   65   45  40  35      PYTHON  240   2  Fail
8번    승근열  디지털고  190  100   85   90  95  95          C#  465   2  Pass

In [30]:
df.drop(index=['5번', '6번'], inplace=True)
print(df)

       이름    학교    키   국어  영어   수학  과학  사회        SW특기   총합  학년    결과
지원번호
1번    강나래   구로고  197   90  85  100  95  85      Python  455   3  Pass
2번    강태원   구로고  184   40  35   50  55  25        Java  205   3  Fail
3번    강호림   구로고  168   80  75   70  80  75  Javascript  380   2  Pass
4번    김수찬   구로고  187   40  60   70  75  80         NaN  325   1  Fail
7번    박혜정  디지털고  188   55  65   45  40  35      PYTHON  240   2  Fail
8번    승근열  디지털고  190  100  85   90  95  95          C#  465   2  Pass

In [31]:
df = pd.read_excel('score.xlsx', index_col='지원번호')

fdata = df['국어'] < 60
df.drop(index=df[fdata].index, inplace=True)
print(df)

       이름    학교    키   국어   영어   수학  과학  사회        SW특기   총합  학년    결과
지원번호
1번    강나래   구로고  197   90   85  100  95  85      Python  455   3  Pass
3번    강호림   구로고  168   80   75   70  80  75  Javascript  380   2  Pass
6번    박동현  디지털고  202   80  100   95  85  80           C  440   3  Pass
8번    승근열  디지털고  190  100   85   90  95  95          C#  465   2  Pass

In [32]:
df = pd.read_excel('score.xlsx', index_col='지원번호')
cols = list(df.columns)
print(cols)
# 슬라이싱은 리스트취급, 1개는 str이라 리스트화해야함  // 뭔소리야?
df= df[cols[0:2] + [cols[9]] + cols[2:8] + cols[10:12]+ [cols[8]]]
print(df)
df.to_excel('score.xlsx')

['이름', '학교', '키', '국어', '영어', '수학', '과학', '사회', 'SW특기', '총합', '학년', '결과']
       이름    학교   총합    키   국어   영어   수학  과학  사회  학년    결과        SW특기
지원번호
1번    강나래   구로고  455  197   90   85  100  95  85   3  Pass      Python
2번    강태원   구로고  205  184   40   35   50  55  25   3  Fail        Java
3번    강호림   구로고  380  168   80   75   70  80  75   2  Pass  Javascript
4번    김수찬   구로고  325  187   40   60   70  75  80   1  Fail         NaN
5번    김재욱   구로고   90  188   15   20   10  35  10   1  Fail         NaN
6번    박동현  디지털고  440  202   80  100   95  85  80   3  Pass           C
7번    박혜정  디지털고  240  188   55   65   45  40  35   2  Fail      PYTHON
8번    승근열  디지털고  465  190  100   85   90  95  95   2  Pass          C#