In [27]:
import pandas as pd

In [28]:
df = pd.read_excel('C:/workspace/dataClass/03_pandasData/score.xlsx', index_col='지원번호')
print(df)

       이름    학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    강나래   구로고  197   90   85  100  95  85      Python
2번    강태원   구로고  184   40   35   50  55  25        Java
3번    강호림   구로고  168   80   75   70  80  75  Javascript
4번    김수찬   구로고  187   40   60   70  75  80         NaN
5번    김재욱   구로고  188   15   20   10  35  10         NaN
6번    박동현  디지털고  202   80  100   95  85  80           C
7번    박혜정  디지털고  188   55   65   45  40  35      PYTHON
8번    승근열  디지털고  190  100   85   90  95  95          C#

In [29]:
print(df.loc['3번'])    # 인덱스명으로 호출
print(df.iloc[2])       # 인덱스 넘버로 호출

이름             강호림
학교             구로고
키              168
국어              80
영어              75
수학              70
과학              80
사회              75
SW특기    Javascript
Name: 3번, dtype: object
이름             강호림
학교             구로고
키              168
국어              80
영어              75
수학              70
과학              80
사회              75
SW특기    Javascript
Name: 3번, dtype: object

In [30]:
print(df['이름'])          # 컬럼명으로 호출
print(df[df.columns[0]])   # 컬럼 넘버로 호출

지원번호
1번    강나래
2번    강태원
3번    강호림
4번    김수찬
5번    김재욱
6번    박동현
7번    박혜정
8번    승근열
Name: 이름, dtype: object
지원번호
1번    강나래
2번    강태원
3번    강호림
4번    김수찬
5번    김재욱
6번    박동현
7번    박혜정
8번    승근열
Name: 이름, dtype: object

### 02

In [31]:
print(df['학교'])
df['학교'].replace({'구로고':'단지고'}, inplace=True)
print(df['학교'])
df['학교'].replace({'디지털고':'영등포고'}, inplace=True)
print(df['학교'])

# df['학교'].replace({'디지털고':'영등포고', '구로고':'단지고'}, inplace=True)
# 한방에 2개도 가능

지원번호
1번     구로고
2번     구로고
3번     구로고
4번     구로고
5번     구로고
6번    디지털고
7번    디지털고
8번    디지털고
Name: 학교, dtype: object
지원번호
1번     단지고
2번     단지고
3번     단지고
4번     단지고
5번     단지고
6번    디지털고
7번    디지털고
8번    디지털고
Name: 학교, dtype: object
지원번호
1번     단지고
2번     단지고
3번     단지고
4번     단지고
5번     단지고
6번    영등포고
7번    영등포고
8번    영등포고
Name: 학교, dtype: object

In [32]:
print(df['SW특기'])
print(df['SW특기'].str.lower())
# 이건 인플레이스트루 저장이 안돼서
# 변수선언처럼 해야됨
df['SW특기'] = df['SW특기'].str.lower()
print(df['SW특기'])

지원번호
1번        Python
2번          Java
3번    Javascript
4번           NaN
5번           NaN
6번             C
7번        PYTHON
8번            C#
Name: SW특기, dtype: object
지원번호
1번        python
2번          java
3번    javascript
4번           NaN
5번           NaN
6번             c
7번        python
8번            c#
Name: SW특기, dtype: object
지원번호
1번        python
2번          java
3번    javascript
4번           NaN
5번           NaN
6번             c
7번        python
8번            c#
Name: SW특기, dtype: object

In [33]:
# 이름에 '수'가 들어간 사람 찾기
soo = df['이름'].str.contains('수')
print(df[soo])

       이름   학교    키  국어  영어  수학  과학  사회 SW특기
지원번호
4번    김수찬  단지고  187  40  60  70  75  80  NaN

In [34]:
# 영어점수 71점 이상인 사람
jumsu70 = df['영어']>70
print(df[jumsu70])

       이름    학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    강나래   단지고  197   90   85  100  95  85      python
3번    강호림   단지고  168   80   75   70  80  75  javascript
6번    박동현  영등포고  202   80  100   95  85  80           c
8번    승근열  영등포고  190  100   85   90  95  95          c#

In [35]:
# 이름에 '강'이 들어가고, 수학점수 80점 이상
kang = df['이름'].str.contains('강')
jumsu80 = df['수학']>=80
print(df[ kang&jumsu80 ])

       이름   학교    키  국어  영어   수학  과학  사회    SW특기
지원번호
1번    강나래  단지고  197  90  85  100  95  85  python

In [36]:
# sw특기 중 python, java인 사람 출력
swpy = df['SW특기']=='python'
swjava = df['SW특기']=='java'
print(df[ swpy|swjava ])

       이름    학교    키  국어  영어   수학  과학  사회    SW특기
지원번호
1번    강나래   단지고  197  90  85  100  95  85  python
2번    강태원   단지고  184  40  35   50  55  25    java
7번    박혜정  영등포고  188  55  65   45  40  35  python

### 03

In [37]:
df['학교'] = df['학교']+'등학교'   # ~~고 +등학교
print(df)

       이름       학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    강나래   단지고등학교  197   90   85  100  95  85      python
2번    강태원   단지고등학교  184   40   35   50  55  25        java
3번    강호림   단지고등학교  168   80   75   70  80  75  javascript
4번    김수찬   단지고등학교  187   40   60   70  75  80         NaN
5번    김재욱   단지고등학교  188   15   20   10  35  10         NaN
6번    박동현  영등포고등학교  202   80  100   95  85  80           c
7번    박혜정  영등포고등학교  188   55   65   45  40  35      python
8번    승근열  영등포고등학교  190  100   85   90  95  95          c#