In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('score.xlsx')
print(df)

  지원번호   이름    학교    키   국어   영어   수학  과학  사회        SW특기
0   1번  강나래   구로고  197   90   85  100  95  85      Python
1   2번  강태원   구로고  184   40   35   50  55  25        Java
2   3번  강호림   구로고  168   80   75   70  80  75  Javascript
3   4번  김수찬   구로고  187   40   60   70  75  80         NaN
4   5번  김재욱   구로고  188   15   20   10  35  10         NaN
5   6번  박동현  디지털고  202   80  100   95  85  80           C
6   7번  박혜정  디지털고  188   55   65   45  40  35      PYTHON
7   8번  승근열  디지털고  190  100   85   90  95  95          C#

In [4]:
print(df['키']>=185)
print('-'*50)
ki185 = df['키']>=185
print(df[ki185])       # 조건에 맞는 row 출력
print('-'*50)
print(df[~ki185])      # 조건에 맞지 않는 row 출력
# print(df[~(df['키']>=185)]) # 같은 거

0     True
1    False
2    False
3     True
4     True
5     True
6     True
7     True
Name: 키, dtype: bool
--------------------------------------------------
  지원번호   이름    학교    키   국어   영어   수학  과학  사회    SW특기
0   1번  강나래   구로고  197   90   85  100  95  85  Python
3   4번  김수찬   구로고  187   40   60   70  75  80     NaN
4   5번  김재욱   구로고  188   15   20   10  35  10     NaN
5   6번  박동현  디지털고  202   80  100   95  85  80       C
6   7번  박혜정  디지털고  188   55   65   45  40  35  PYTHON
7   8번  승근열  디지털고  190  100   85   90  95  95      C#
--------------------------------------------------
  지원번호   이름   학교    키  국어  영어  수학  과학  사회        SW특기
1   2번  강태원  구로고  184  40  35  50  55  25        Java
2   3번  강호림  구로고  168  80  75  70  80  75  Javascript

In [5]:
print(df[   (df['학교']=='구로고') & (df['키']>=185)   ])
print('-'*50)
print(df[   (df['학교']=='구로고') | (df['키']>=200)   ])
print('-'*50)
print(df.info())

  지원번호   이름   학교    키  국어  영어   수학  과학  사회    SW특기
0   1번  강나래  구로고  197  90  85  100  95  85  Python
3   4번  김수찬  구로고  187  40  60   70  75  80     NaN
4   5번  김재욱  구로고  188  15  20   10  35  10     NaN
--------------------------------------------------
  지원번호   이름    학교    키  국어   영어   수학  과학  사회        SW특기
0   1번  강나래   구로고  197  90   85  100  95  85      Python
1   2번  강태원   구로고  184  40   35   50  55  25        Java
2   3번  강호림   구로고  168  80   75   70  80  75  Javascript
3   4번  김수찬   구로고  187  40   60   70  75  80         NaN
4   5번  김재욱   구로고  188  15   20   10  35  10         NaN
5   6번  박동현  디지털고  202  80  100   95  85  80           C
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지원번호    8 non-null      object
 1   이름      8 non-null      object
 2   학교      8 non-null      object
 3   키       8 non-null      int64
 4   국어      8 non-null      int64
 5   영어      8 non-null      int64
 6   수학      8 non-null      int64
 7   과학      8 non-null      int64
 8   사회      8 non-null      int64
 9   SW특기    6 non-null      object
dtypes: int64(6), object(4)
memory usage: 768.0+ bytes
None