### 13

In [1]:
import pandas as pd

In [19]:
raw = pd.read_excel('score.xlsx')
print(raw)

  지원번호   이름    학교    키   국어   영어   수학  과학  사회        SW특기
0   1번  강나래   구로고  197   90   85  100  95  85      Python
1   2번  강태원   구로고  184   40   35   50  55  25        Java
2   3번  강호림   구로고  168   80   75   70  80  75  Javascript
3   4번  김수찬   구로고  187   40   60   70  75  80         NaN
4   5번  김재욱   구로고  188   15   20   10  35  10         NaN
5   6번  박동현  디지털고  202   80  100   95  85  80           C
6   7번  박혜정  디지털고  188   55   65   45  40  35      PYTHON
7   8번  승근열  디지털고  190  100   85   90  95  95          C#

In [20]:
raw.fillna('없음', inplace=True)    # NaN값 채워주기
print(raw)

  지원번호   이름    학교    키   국어   영어   수학  과학  사회        SW특기
0   1번  강나래   구로고  197   90   85  100  95  85      Python
1   2번  강태원   구로고  184   40   35   50  55  25        Java
2   3번  강호림   구로고  168   80   75   70  80  75  Javascript
3   4번  김수찬   구로고  187   40   60   70  75  80          없음
4   5번  김재욱   구로고  188   15   20   10  35  10          없음
5   6번  박동현  디지털고  202   80  100   95  85  80           C
6   7번  박혜정  디지털고  188   55   65   45  40  35      PYTHON
7   8번  승근열  디지털고  190  100   85   90  95  95          C#

In [21]:
import numpy as np

In [22]:
raw['학교'] = np.nan    # 넘파이로 값 밀어버리기..
print(raw)
print('-'*50)
print(raw.fillna('모름'))
print('-'*50)
print(raw)      # 그러나 다시 원복된다. 인플레이스트루 안해서..ㅎㅎ

  지원번호   이름  학교    키   국어   영어   수학  과학  사회        SW특기
0   1번  강나래 NaN  197   90   85  100  95  85      Python
1   2번  강태원 NaN  184   40   35   50  55  25        Java
2   3번  강호림 NaN  168   80   75   70  80  75  Javascript
3   4번  김수찬 NaN  187   40   60   70  75  80          없음
4   5번  김재욱 NaN  188   15   20   10  35  10          없음
5   6번  박동현 NaN  202   80  100   95  85  80           C
6   7번  박혜정 NaN  188   55   65   45  40  35      PYTHON
7   8번  승근열 NaN  190  100   85   90  95  95          C#
--------------------------------------------------
  지원번호   이름  학교    키   국어   영어   수학  과학  사회        SW특기
0   1번  강나래  모름  197   90   85  100  95  85      Python
1   2번  강태원  모름  184   40   35   50  55  25        Java
2   3번  강호림  모름  168   80   75   70  80  75  Javascript
3   4번  김수찬  모름  187   40   60   70  75  80          없음
4   5번  김재욱  모름  188   15   20   10  35  10          없음
5   6번  박동현  모름  202   80  100   95  85  80           C
6   7번  박혜정  모름  188   55   65   45  40  35      PYTHON
7   8번  승근열  모름  190  100   85   90  95  95          C#
--------------------------------------------------
  지원번호   이름  학교    키   국어   영어   수학  과학  사회        SW특기
0   1번  강나래 NaN  197   90   85  100  95  85      Python
1   2번  강태원 NaN  184   40   35   50  55  25        Java
2   3번  강호림 NaN  168   80   75   70  80  75  Javascript
3   4번  김수찬 NaN  187   40   60   70  75  80          없음
4   5번  김재욱 NaN  188   15   20   10  35  10          없음
5   6번  박동현 NaN  202   80  100   95  85  80           C
6   7번  박혜정 NaN  188   55   65   45  40  35      PYTHON
7   8번  승근열 NaN  190  100   85   90  95  95          C#

In [25]:
raw = pd.read_excel('score.xlsx')
print(raw)
print('-'*50)
print(raw.dropna())    # NaN이 있으면 행 밀어버리기
# 그 결과 특기 없는 녀석은 제거 당하였다..

  지원번호   이름    학교    키   국어   영어   수학  과학  사회        SW특기
0   1번  강나래   구로고  197   90   85  100  95  85      Python
1   2번  강태원   구로고  184   40   35   50  55  25        Java
2   3번  강호림   구로고  168   80   75   70  80  75  Javascript
3   4번  김수찬   구로고  187   40   60   70  75  80         NaN
4   5번  김재욱   구로고  188   15   20   10  35  10         NaN
5   6번  박동현  디지털고  202   80  100   95  85  80           C
6   7번  박혜정  디지털고  188   55   65   45  40  35      PYTHON
7   8번  승근열  디지털고  190  100   85   90  95  95          C#
--------------------------------------------------
  지원번호   이름    학교    키   국어   영어   수학  과학  사회        SW특기
0   1번  강나래   구로고  197   90   85  100  95  85      Python
1   2번  강태원   구로고  184   40   35   50  55  25        Java
2   3번  강호림   구로고  168   80   75   70  80  75  Javascript
5   6번  박동현  디지털고  202   80  100   95  85  80           C
6   7번  박혜정  디지털고  188   55   65   45  40  35      PYTHON
7   8번  승근열  디지털고  190  100   85   90  95  95          C#

### 15

In [5]:
raw = pd.read_excel('score.xlsx')
print(raw.sort_values('키'))                     # 순차 정렬
print('-'*50)
print(raw.sort_values('키', ascending=False))    # 역순 정렬

  지원번호   이름    학교    키   국어   영어   수학  과학  사회        SW특기
2   3번  강호림   구로고  168   80   75   70  80  75  Javascript
1   2번  강태원   구로고  184   40   35   50  55  25        Java
3   4번  김수찬   구로고  187   40   60   70  75  80         NaN
4   5번  김재욱   구로고  188   15   20   10  35  10         NaN
6   7번  박혜정  디지털고  188   55   65   45  40  35      PYTHON
7   8번  승근열  디지털고  190  100   85   90  95  95          C#
0   1번  강나래   구로고  197   90   85  100  95  85      Python
5   6번  박동현  디지털고  202   80  100   95  85  80           C
--------------------------------------------------
  지원번호   이름    학교    키   국어   영어   수학  과학  사회        SW특기
5   6번  박동현  디지털고  202   80  100   95  85  80           C
0   1번  강나래   구로고  197   90   85  100  95  85      Python
7   8번  승근열  디지털고  190  100   85   90  95  95          C#
4   5번  김재욱   구로고  188   15   20   10  35  10         NaN
6   7번  박혜정  디지털고  188   55   65   45  40  35      PYTHON
3   4번  김수찬   구로고  187   40   60   70  75  80         NaN
1   2번  강태원   구로고  184   40   35   50  55  25        Java
2   3번  강호림   구로고  168   80   75   70  80  75  Javascript

In [6]:
print(raw.sort_values('이름'))
print(raw.sort_values(['영어', '수학'], ascending=[True, False]))

  지원번호   이름    학교    키   국어   영어   수학  과학  사회        SW특기
0   1번  강나래   구로고  197   90   85  100  95  85      Python
1   2번  강태원   구로고  184   40   35   50  55  25        Java
2   3번  강호림   구로고  168   80   75   70  80  75  Javascript
3   4번  김수찬   구로고  187   40   60   70  75  80         NaN
4   5번  김재욱   구로고  188   15   20   10  35  10         NaN
5   6번  박동현  디지털고  202   80  100   95  85  80           C
6   7번  박혜정  디지털고  188   55   65   45  40  35      PYTHON
7   8번  승근열  디지털고  190  100   85   90  95  95          C#
  지원번호   이름    학교    키   국어   영어   수학  과학  사회        SW특기
4   5번  김재욱   구로고  188   15   20   10  35  10         NaN
1   2번  강태원   구로고  184   40   35   50  55  25        Java
3   4번  김수찬   구로고  187   40   60   70  75  80         NaN
6   7번  박혜정  디지털고  188   55   65   45  40  35      PYTHON
2   3번  강호림   구로고  168   80   75   70  80  75  Javascript
0   1번  강나래   구로고  197   90   85  100  95  85      Python
7   8번  승근열  디지털고  190  100   85   90  95  95          C#
5   6번  박동현  디지털고  202   80  100   95  85  80           C